In [36]:
student = {
    "name": "John",
    "age" :25,
    "course" :"Python",
    "marks":78
}
print(student)

{'name': 'John', 'age': 25, 'course': 'Python', 'marks': 78}

In [37]:
info =dict(name = "John", age = 25, course =  "Python", marks = 78)
print(info)

{'name': 'John', 'age': 25, 'course': 'Python', 'marks': 78}

In [50]:
info=dict(name=input("Enter Your Name: "),age=int(input("Enter Your age: ")),course=input("Enter your course: "),marks=int(input("Enter your marks")))
print(info)

{'name': 'Avirat', 'age': 20, 'course': 'Python', 'marks': 69}

In [ ]:
temp = {
    'lucknow' : [32,36,38],
    'kanpur' : [35,37,40],
    'delhi'  :[36,37,40]
}
print(temp)

{'lucknow': [32, 36, 38], 'kanpur': [35, 37, 40], 'delhi': [36, 37, 40]}

In [ ]:
#1st method to access values through keys
print(student['name'])
print(student['age'])

John
25

In [ ]:
#2nd method to access value through keys
print(student.get("course"))
print(student.get("age"))

Python
25

In [ ]:
# to add items in dictionary
student['city']='Lucknow'
print(student)

{'name': 'John', 'age': 25, 'course': 'Python', 'marks': 78, 'city': 'Lucknow'}

In [ ]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'course', 'marks', 'city'])
dict_values(['John', 25, 'Python', 78, 'Lucknow'])
dict_items([('name', 'John'), ('age', 25), ('course', 'Python'), ('marks', 78), ('city', 'Lucknow')])

In [ ]:
for k,v in student.items():
  print(f'{k}:{v}')

name:John
age:25
course:Python
marks:78
city:Lucknow

In [ ]:
a=10
b=35
sum = a+b
print("sum of",a,"and",b,"is",sum)
print(f'sum of {a} and {b} is {sum}')

sum of 10 and 35 is 45
sum of 10 and 35 is 45

In [39]:
company={
    'emp001':{
        'name': 'Vaibhav',
        'age':20,
        'dept':'IT',
        'salary':25000
    },
    'emp002':{
        'name':"Arpit",
        'age':20,
        'dept':'IT',
        'salary':26000
    },
    'emp003':{
        'name':"Haider",
        'age':20,
        'dept':'IT',
        'salary':26000
    }
   
}
print(company)

{'emp001': {'name': 'Vaibhav', 'age': 20, 'dept': 'IT', 'salary': 25000}, 'emp002': {'name': 'Arpit', 'age': 20, 'dept': 'IT', 'salary': 26000}, 'emp003': {'name': 'Haider', 'age': 20, 'dept': 'IT', 'salary': 26000}}

In [41]:
from pprint import pprint

In [42]:
pprint(company)

{'emp001': {'age': 20, 'dept': 'IT', 'name': 'Vaibhav', 'salary': 25000},
 'emp002': {'age': 20, 'dept': 'IT', 'name': 'Arpit', 'salary': 26000},
 'emp003': {'age': 20, 'dept': 'IT', 'name': 'Haider', 'salary': 26000}}

In [49]:
print(company['emp002']['age'])

20

In [2]:

print(sum(temp['lucknow'])/len(temp['lucknow']))

NameError: name 'temp' is not defined